// 0imports : l'ordre des "imports" est important, les fichiers sont compilés dans l'ordre donné
// Exemple d'ordre efficace :
// - Utils : variables, fonctions, mixins, placeholders
// - Feuilles de style de tiers (vendors) (si'il y en a)
// - Base
// - Composants
// - Layout
// - Pages
// - Thèmes

@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";

@import "./base/base";
@import "./base/typography";

@import "./components/buttons";

@import "./layout/header";
@import "./layout/nav";
@import "./layout/container";
@import "./layout/form";


@import "./pages/work";
@import "./pages/about";
@import "./pages/project";



// Exemple de media queries

    // On défini la map
        $breakpoints: (
        mobile: 599px
        );

    // La mixin définie avec @content qui sera remplacé automatiquement
    @mixin mobile-only {
        @media screen and (max-width: map-get($breakpoints, mobile)){
            @content;
        }
    }

    // L'include de la mixin avec le contenu qui remplace @content
    .proj-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        @include mobile-only{
            grid-template-columns: 1fr;
        }
    }